.collage {
    display: inline-grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    width: 30rem;
    justify-content: center;
}

.collage-img {
    grid-area: 1 / 1 / 1 / 1;
    display: block;
    position: relative;
    max-width: 40%;
    max-height: 55%;
    aspect-ratio: auto;
    border-radius: 1rem;
    z-index: 1;
    border: 3px solid var(--img-border-colour);
}

.main-collage {
    z-index: 0;
    width: inherit;
    height: auto;
    max-width: none;
    max-height: none;
}

.left-collage {
    left: 65%;
    top: 50%;
}

.right-collage {
    right: 5%;
    top: 50%;
}
