.content-box {
    justify-content: center;
    transform: translateY(-12%);
    max-width: 32rem;
    min-width: 28rem;
}

.content-box-header {
    position: relative;
    justify-content: space-between;
    top: 12%;
}

.content-box-logo {
    height: 7rem;
    transform: translateY(-0.8rem);
}

.content-box-header .subtitle {
    align-self: center;
    text-align: right;
    transform: translateY(0.2rem);
}

.content-box .text {
    background: var(--bg-box-colour);
    border-radius: 1rem;
    padding: 3rem var(--margin-xl) var(--margin-xl);
    margin: 0;
}
