:root{
    --dash-bg-colour: #FFFFFF;
    --dash-header-txt-colour: #474244;
    --dash-header-sub-colour: #7E7E7E;
    --dash-header-bg-colour: #F7F5E5;
    --dash-txt-colour: #85867A;
    --dash-title-colour: #85867A;
    --block-bg-colour: #FAF9F1;
    --sidebar-bg-colour: #FFFEF6;
    --btn-sidebar-white-colour: #FAF7ED;
    --btn-sidebar-dark-colour: #93AC8F;
    --btn-sidebar-light-colour: #F0F7E4;
    --btn-logout-colour: #DCD9CF;
    --btn-logout-txt-colour: #8E8383;
}

body {
    background-color: var(--dash-bg-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: inherit;
    width: inherit;
}

html {
    font-size: 20px;
    height: 100vh;
}

button {
    all: unset;
}

#__nuxt {
    height: 100%;
    width: 100%;
}

header {
    display: inline-flex;
    flex-direction: row;
    width: calc(100% - 4rem);
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin: 0;
    gap: 0.5rem;
    background-color: var(--dash-header-bg-colour);
    font-family: 'Open Sans', sans-serif;
}

header h2 {
    font-size: 1.7rem;
    color: var(--dash-header-txt-colour);
    vertical-align: middle;
    white-space: nowrap;
    margin: 0;
    text-transform: uppercase;
}

header h3 {
    font-size: 1.2rem;
    color: var(--dash-header-sub-colour);
    vertical-align: middle;
    white-space: nowrap;
    margin: 0;
    align-self: start;
}

header button {
    background-color: var(--btn-logout-colour);
    color: var(--btn-logout-txt-colour);
    border-radius: 0.5rem;
    margin: 0;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-weight: 700;
}

header button:hover {
    background-color: var(--btn-logout-txt-colour);
    color: var(--btn-logout-colour);
    transition: all 0.2s ease;
}

header .row {
    display: inline-flex;
    direction: row;
    gap: 0.5rem;
}

h1.title {
    font-size: 1.5rem;
    color: var(--dash-title-colour);
    vertical-align: middle;
    white-space: nowrap;
    text-transform: capitalize;
    text-align: start;
    margin: 1rem 0 1rem 0;
    text-transform: uppercase;
}

.sidebar a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 0;
    border-radius: 0 0.5rem 0.5rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 0.7rem;
    margin: 0;
    background: var(--btn-sidebar-light-colour);
    color: var(--btn-sidebar-dark-colour);
    cursor: pointer;
    align-self: flex-start;
    width: 85%;
}

.sidebar a.current {
    background: var(--btn-sidebar-dark-colour);
    color: var(--btn-sidebar-white-colour);
    width: 100%;
    padding: 0.7rem 0;
    font-size: 1.1rem;
}

.sidebar a:not(.current):hover {
    width: 100%;
    padding: 0.5rem 0;
    transition: all 0.2s ease;
}

span.column {
    display: flex;
    flex-direction: column;
    align-items: cENTer;
    justify-content: center;
    gap: 0;
}

div.summary-block {
    display: inline-flex;
    gap: 0.5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--block-bg-colour);
    border-radius: 1rem;
}

div.home-container {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.2rem;
}

div.dash-container {
    display: inline-grid;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: calc(100vh - 7rem);
    width: inherit;
    grid-template-columns: 15% auto;
}

div.page-container {
    margin: 0;
    padding: 1.5rem 2.5rem;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.text {
    font-family: 'Dubai', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 120%;
    margin: 0 0 1rem;
    color: var(--dash-txt-colour);
}

.text.stat {
    font-size: 1rem;
    text-align: left;
    margin: 0;
}

.text.stat-num{
    font-size: 3.2rem;
    text-align: center;
    margin: 0;
}

.text.footer {
    display: inline-block;
    color: var(--footer-txt-colour);
    text-align: center;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0;
    padding: 0.5rem;
}

.author {
    color: var(--footer-author-colour);
    font-style: italic;
}

.logo {
    aspect-ratio: 1/1;
    height: 5rem;
    display: inline-block;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--sidebar-bg-colour);
    height: 100%;
    width: auto;
}

.sidebar .column {
    gap: 1.2rem;
    padding: 0.8rem 0 0 0;
}

.author:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}
