:root{
    --header-txt-colour: #42523E;
}

header {
    display: inline-flex;
    flex-direction: row;
    width: calc(100% - 30rem);
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 15rem;
    margin: 1rem 0;
    font-family: 'Open Sans', sans-serif;
    gap: 0;
    background: none;
}

header img {
    border: none;
}

header span {
    display: inline-flex;
    gap: 3rem;
    font-weight: 700;
}

header a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--header-txt-colour);
}

header a:hover {
    text-decoration: underline 3px;
}

.logo {
    aspect-ratio: 1/1;
    height: 5rem;
    display: inline-block;
}
