.landing-container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.jumbo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    padding: 1rem 15rem;
}

.jumbo-img {
    width: 25rem;
    padding: 1rem 0 0 0;
}

.title-container::after {
    content: url("/img/badminton-racket.svg");
    display: block;
    width: 30rem;
    transform: translate(-12rem, 8rem);
}

.main-container {
    gap: 10vh;
}

.content-box {
    justify-content: space-between;
    margin: 5rem 9rem;
}

.hidden-box {
    opacity: 0;
    transition: all 0.4s;
}

.show-box {
    opacity: 1;
}

.box-reverse {
    flex-direction: row-reverse;
}

.ending {
    justify-content: center;
    margin: 0 0 15vh 0;
}

.landing-ending {
    color: var(--txt-join-colour);
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}

@media (max-width: 320px) {

}

@media (max-width: 480px) {

}

@media (max-width: 768px) {

}

@media screen and (max-width: 992px) {

}
@media screen and (max-width: 1200px) {

}
