.landing-container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.jumbo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    padding: 1rem 15rem;
}

.jumbo-img {
    width: 25rem;
    padding: 1rem 0 0 0;
}

.title-container::after {
    content: url("/img/badminton-racket.svg");
    display: block;
    width: 30rem;
    transform: translate(-12rem, 8rem);
}

.scroll-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem 9rem;
}
