@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/dubai');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    /* font */
    font-size: 20px;

    /* margins or padding */
    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;
    --margin-xxxl: 3.25rem;

    /* border radius */
    --radius-xs: .5rem;
    --radius-s: .75rem;
    --radius-m: 1rem;
    --radius-l: 1.25rem;
    --radius-xl: 1.75rem;

    /* colours */
    --bg-10-colour: #F0F8EF;
    --bg-20-colour: #FAFCF9;
    --bg-box-colour: #FAF7ED;
    --txt-colour: #464B3D;
    --title-colour: #474244;
    --subtitle-colour: #545851;
    --btn-colour: #83AE8D;
    --btn-txt-colour: #F9FFF8;
    --img-border-colour: #535356;
    --header-footer-bold-colour: #42523E;
    --footer-txt-colour: #ADB9B0;
    --footer-author-colour: #93A193;

    /* landing */
    --ff: "Open Sans", sans-serif;
    --a: 700 1rem/1.4rem var(--ff);
    --h1: 900 5rem/6.5rem var(--ff);
    --h2: 700 2.5rem/3.5rem var(--ff);
    --h3: 700 1.5rem/2.1rem var(--ff);
    --p: 400 1rem/1.6rem var(--ff);
    --btn: 500 1.1rem/1.75rem var(--ff);
}

body {
    margin: 0;
}

.primary-button {
    font: var(--btn);
    cursor: pointer;
    background-color: var(--btn-colour);
    color: var(--btn-txt-colour);
    border-radius: var(--radius-xs);
    padding: 0.3rem 0.8rem;
    border: none;
    text-align: center;
    text-decoration: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.m-logo {
    display: inline-block;
    height: 5rem;
    aspect-ratio: 1/1;
    align-self: center;
}

.linkbutton {
    text-decoration: none;
    font: var(--a);
    text-transform: capitalize;
}

.ul-no-dec {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.title {
    color: var(--title-colour);
    font: var(--h1);
    margin: var(--margin-m) 0;
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.subtitle {
    color: var(--subtitle-colour);
    font: var(--h2);
    text-transform: uppercase;
}

.subhead {
    color: var(--subtitle-colour);
    font: var(--h3);
}

.text {
    color: var(--txt-colour);
    font: var(--p);
    padding: var(--margin-m);
    margin-bottom: var(--margin-m);
}

.text-bold {
    font-weight: 600;
}
