:root{
    --contrast-colour-1: #545851;
    --contrast-colour-2: #898E88;
    --sep-line-colour: #E8E5DB;
}

body {
    background: none;
    background-color: none;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

main .title {
    color: var(--title-colour);
    text-align: center;
    font-size: 4.5rem;
}

div.opt-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    margin: 5rem 0;
}

div.mem-container {
    background-color: var(--box-bg-colour);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 19rem;
}

div.mem-container p,h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: var(--subtitle-colour);
}

div.container-border {
    border: 1px solid;
    box-sizing: border-box;
}

div.mem-header {
    position: absolute;
    box-sizing: border-box;
    height: 3rem;
    width: inherit;
    border: 1px solid;
    transform: translate(-1px, -2rem);
    border-radius: 1rem 1rem 0 0;
    z-index: -1;
    padding: 0.4rem;
}

div.mem-header .text-bold {
    font-weight: 900;
}

div.mem-header p {
    text-wrap: nowrap;
    text-align: center;
}

div.mem-sub {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 1rem;
}

div.mem-main h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

div.mem-main p {
    font-size: 1.5rem;
}

div.mem-main p span {
    font-size: 2.5rem;
    font-weight: 700;
}

div.sep-line {
    display: inline-flex;
    background-color: var(--sep-line-colour);
    height: 3px;
    width: 100%;
    border-radius: 1rem;
    align-self: center;
}

div.feature-container {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    margin: 0.3rem 0 0.6rem 0;
    gap: 0.3rem;
}

div.feature-container p {
    font-size: 0.8rem;
    text-wrap: wrap;
}

p span.text-bold {
    font-weight: 600;
}

div.feature-container img {
    border: none;
    aspect-ratio: 1;
    width: 0.7rem;
    align-self: start;
    padding: 0.1rem 0 0 0;
}

div.mem-feature {
    display: inline-flex;
    flex-direction: row;
    gap: 0.5rem;
}

a.button {
    background: var(--btn-colour);
    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem;
    color: var(--btn-txt-colour);
    font-size: 1.2rem;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-align: center;
}

div.mem-container button {
    text-align: center;
    width: 5rem;
    align-self: center;
}

.text.footer {
    display: inline-block;
    color: var(--footer-txt-colour);
    text-align: center;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0;
    padding: 0.5rem;
}

.author {
    color: var(--footer-author-colour);
    font-style: italic;
}

.author:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}
